[GLOBAL]
pants_version = "2.30.0"
backend_packages = [
    "pants.backend.shell",
    "pants.backend.shell.lint.shellcheck",
    "pants.backend.shell.lint.shfmt",
    "pants.backend.python",
    "pants.backend.experimental.python",
    "pants.backend.experimental.python.lint.ruff.check",
    "pants.backend.experimental.python.lint.ruff.format",
    "pants.backend.project_info",
]

[system-binaries]
system_binary_paths = [
    "/usr/bin",
    "/bin",
    "/usr/local/bin",
    "/opt/homebrew/bin",
    "/home/*/.nvm/versions/node/*/bin",
]

[cli.alias]
all = "::"
lock = "generate-lockfiles --resolve=python-default"
venv = "export --py-resolve-format=symlinked_immutable_virtualenv --resolve=python-default"

[source]
root_patterns = ['/', "/src"]

[python]
interpreter_constraints = ["CPython==3.11.*"]
enable_resolves = true

[test]
use_coverage = true

[coverage-py]
global_report = true

[pytest]
install_from_resolve = "python-default"
args = [
    "-s"
]
